apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
  namespace: cloudself
data:
  # This will be replaced dynamically in the setup script
  VITE_API_URL: "http://localhost:30000"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: cloudself
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: cloudself-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        env:
        - name: VITE_API_URL
          valueFrom:
            configMapKeyRef:
              name: frontend-config
              key: VITE_API_URL
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: cloudself
spec:
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
  type: NodePort
