apiVersion: v1
kind: ServiceAccount
metadata:
  name: provisioner-controller
  namespace: cloudself
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: provisioner-controller-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  - pods
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - websites.cloudself.dev
  resources:
  - websites
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - websites.cloudself.dev
  resources:
  - websites/finalizers
  verbs:
  - update
- apiGroups:
  - websites.cloudself.dev
  resources:
  - websites/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: provisioner-controller-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: provisioner-controller-role
subjects:
- kind: ServiceAccount
  name: provisioner-controller
  namespace: cloudself
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: provisioner
  namespace: cloudself
  labels:
    app: provisioner
    control-plane: controller-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: provisioner
  template:
    metadata:
      labels:
        app: provisioner
        control-plane: controller-manager
    spec:
      serviceAccountName: provisioner-controller
      containers:
      - name: manager
        image: cloudself-provisioner:latest
        imagePullPolicy: IfNotPresent
        command:
        - /manager
        args:
        - --backend-url=http://backend.cloudself.svc.cluster.local:3000
        - --leader-elect
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
      securityContext:
        runAsNonRoot: true
